<div class="d-flex justify-content-center">
  <%= form_with model: task do |f| %>
    <div class="input-group m-2">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="input-group m-2">
      <%= f.label :details %>
      <%= f.text_field :details %>
    </div>
    <div class="input-group m-2">
      <%= f.check_box :completed %>
      <%= f.label :completed %>
    </div>
    <div class="d-flex justify-content-center">
    <%= f.submit %>
    </div>
  <% end %>
</div>
